@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 5%;
  
      --card: 0 0% 100%;
      --card-foreground: 0 0% 5%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 5%;
  
      --primary: 228 63% 57%;
      --primary-foreground: 0 0% 98%;
  
      --secondary: 0 0% 96%;
      --secondary-foreground: 0 0% 5%;
  
      --muted: 0 0% 96%;
      --muted-foreground: 0 0% 45%;
  
      --accent: 0 0% 96%;
      --accent-foreground: 0 0% 5%;
  
      --destructive: 0 84% 60%;
      --destructive-foreground: 0 0% 98%;
  
      --border: 0 0% 92%;
      --input: 0 0% 85%;
      --ring: 0 0% 76%;
  
      --radius: 1rem;
    }
    
    .dark {
      --background: 0 0% 0%;
      --foreground: 0 0% 98%;
  
      --card: 0 0% 0%;
      --card-foreground: 0 0% 98%;
  
      --popover: 0 0% 0%;
      --popover-foreground: 0 0% 98%;
  
      --primary: 228 63% 57%;
      --primary-foreground: 0 0% 98%;
  
      --secondary: 0 0% 0%;
      --secondary-foreground: 0 0% 98%;
  
      --muted: 0 0% 0%;
      --muted-foreground: 0 0% 49%;
  
      --accent: 0 0% 0%;
      --accent-foreground: 0 0% 98%;
  
      --destructive: 0 84% 60%;
      --destructive-foreground: 0 0% 98%;
  
      --border: 0 0% 8%;
      --input: 0 0% 12%;
      --ring: 228 64% 40%;
    }
  
  
  .gradient-dark{
    background-image:
    radial-gradient(at 73% 38%, rgb(172, 118, 0) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(150, 0, 145) 0px, transparent 50%),
    radial-gradient(at 66% 5%, rgb(109, 0, 89) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgb(15, 87, 132) 0px, transparent 50%);
  }
  .gradient{
    background-image:
    radial-gradient(at 73% 38%, hsla(41,100%,51%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(302,100%,51%,1) 0px, transparent 50%),
    radial-gradient(at 66% 5%, hsla(311,100%,48%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(203,100%,55%,1) 0px, transparent 50%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


