@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 217 100% 56%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 1.5rem;
  }
  
  .dark {
    --background: 220 7% 8%;
    --foreground: 180 9% 98%;

    --card: 220 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 220 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 211 100% 41%;
    --primary-foreground: 180 9% 98%;

    --secondary: 210 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 213 7% 29%;
    --muted-foreground: 210 8% 49%;

    --accent: 212 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 8% 12%;
    --input: 210 9% 18%;
    --ring: 211 100% 40%;
  }

  
  .gradient-dark{
    background-image:
    radial-gradient(at 73% 38%, rgb(172, 118, 0) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(150, 0, 145) 0px, transparent 50%),
    radial-gradient(at 66% 5%, rgb(109, 0, 89) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgb(15, 87, 132) 0px, transparent 50%);
  }
  .gradient{
    background-image:
    radial-gradient(at 73% 38%, hsla(41,100%,51%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(302,100%,51%,1) 0px, transparent 50%),
    radial-gradient(at 66% 5%, hsla(311,100%,48%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(203,100%,55%,1) 0px, transparent 50%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


